@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    font-family: 'Rubik', sans-serif;
}
.css-container{
    padding: 3em;
    margin: auto;
}
.css-container h2{
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.3em;
}
.css-container .form-card{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.css-container .form-card .form-column{
    position: relative;
    width: 50%;
    padding: 0 1em;
    margin: 3em 0 1em;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.css-container .form-card .inputBox{
    position: relative;
    width: 100%;
    height: 3em;
}
.css-container .form-card .inputBox input{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 1em;
    z-index: 1;
}
.css-container .form-card .inputBox .text{
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    line-height: 4em;
    font-size: 1em;
    display: block;
    padding: 0 1em;
    transition-property: 0.5s;
}
.css-container .form-card .inputBox input:focus + .text,
.css-container .form-card .inputBox input:valid + .text{
    top: -3em;
    left: -1em;
}
.css-container .form-card .inputBox .line{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.2em;
    background: black;
    transition: 0.5s;
}
.css-container .form-card .inputBox input:focus ~ .line,
.css-container .form-card .inputBox input:valid ~ .line{
    height: 100%;
}
input[type="submit"]{
    border: none;
    background-color: black;
    color: white;
    padding: 0.5em 1.5em;
    border-radius: 0.3em;
    cursor: pointer;
    font-size: 1em;
}
.forgot-pass{
    display: flex;
    justify-content: center;
}
.forgot-pass a{
    color: black;
}
@media screen and (max-width: 600px){
    .css-container{
        padding-top: 2em !important;
        padding: 0.5em;
        margin: auto;
    }
}