.ootd-cards{
    display: flex;
    flex-wrap: wrap;
}
.css-wrap-card{
    display: flex;
    justify-content: center;
    width: 20em;
    height: 22em;
}
.ootd-product-card img{
    width: 100%;
    transition: .5s;
}
.ootd-product-card{
    display: flex;
    flex-direction: column;
    margin: 3em;
    width: 15em;
    height: 15em;
    color: white;
}
.ootd-product-card .textHover{
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}
.ootd-product-card:hover{
    background: black;
    margin: 1em;
    transition: .5s;
}
.ootd-product-card:hover img{
    margin: 1em;
    transition: .5s;
}
.css-clickme{
    margin-top: 5em;
}
.category-fashion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.css-ctg{
    border: 0.2em solid black;
    border-radius: 1em;
    margin: 1em;
    width: 10em;
    text-align: center;
    color: black;
}
.css-ctg:hover{
    background-color: black;
    color: white;
    transition: .5s;
    transform: scale(1.1);
}
.css-jumbotron{
    background-color: black;
    color: white;
    width: 100%;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.css-jumbotron-text{
    width: 35%;
    text-align: justify;
}
.css-image-slide img{
    width: 25em;
}
.slider-outer{
    width: 47%;
    display: flex;
    justify-content: center;
}
.css-about-slider{
    width: 400px;
    border-radius: 1em;
    overflow: hidden;
}
.css-about-slides{
    display: flex;
    align-items: center;
}
.css-about-slides input{
    display: none;
}
.css-image-slide{
    transition: 2s;
    background-color: black;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25em;
}
#radio3:checked ~ .first{
    margin-left: -50em;
}
.css-product-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.css-product-card{
    display: flex;
    flex-direction: column;
    height: 20em;
}
.css-product-card img{
    width: 15em;
}
.css-product-card .product-name{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em;
    visibility: hidden;
}
.product-details{
    display: flex;
    justify-content: space-between;
    margin-top: -3.3em;
}
.css-product-card:hover .product-name{
    visibility: visible;
}
.css-product-card:hover .product-details{
    display: none;
}
.card.border-dark{
    width: 100%;
}
.col-4:hover{
    transform: scale(1.05);
    transition: .7s all ease-in-out;
}
@media screen and (max-width: 600px){
    .row.d-flex.justify-content-center.mb-5{
        display: flex;
        flex-direction: column;
    }
    .row.d-flex.justify-content-center.mb-5 .col-4{
        width: 100%;
        margin: 1em;
    }
    .css-product-cards{
        justify-content: center;
    }
    .css-jumbotron{
        display: flex;
        flex-direction: column;
    }
    .css-jumbotron-text{
        width: 80%;
    }
    .slider-outer{
        width: 80%;
        display: flex;
        justify-content: center;
    }
    #radio1:checked ~ .first{
        margin-left: -5em;
    }
    #radio2:checked ~ .first{
        margin-left: -30em;
    }
    #radio3:checked ~ .first{
        margin-left: -56em;
    }
    .col-4{
        width: 90% !important;
    }
    .css-tesimonial{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}