@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.container{
    font-family: 'Rubik', sans-serif;
    margin-top: 0.1em;
}
.navbar-brand ion-icon{
    font-size: 2rem;
}
.css-width{
    width: 75%;
}
.css-searchInput{
    width: 40vw;
}
.css-search{
    margin-left: -3.2em;
}
.css-footer{
    background-color: black;
    color: white;
}
@media only screen and (max-width: 700px) {
    .css-searchInput{
        width: 10em;
    }
}